.speciesh1{
    color: rgb(106, 103, 226);
  }
  
  .speciessection {
      margin: 50px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
    }
  
    .species {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(123, 124, 174);
      padding: 20px;
      border-radius: 5px;
      min-height: 60px;
      color: rgb(255, 255, 255);
      text-decoration: none;
      font-size: 20px;
    }
  
  .species:hover{
      background-color: rgb(255, 255, 255);  
      color: darkslategrey;
    }