.planeth1{
  color: rgb(40, 238, 22);
}

.planetsection {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .planet {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(90, 131, 147);
    padding: 20px;
    border-radius: 5px;
    min-height: 60px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
  }

.planet:hover{
    background-color: rgb(255, 255, 255);  
    color: darkslategrey;
  }