.vehicleh1{
    color: rgb(78, 58, 58);
  }
  
  .vehiclesection {
      margin: 50px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
    }
  
    .vehicle {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(111, 79, 73);
      padding: 20px;
      border-radius: 5px;
      min-height: 60px;
      color: rgb(255, 255, 255);
      text-decoration: none;
      font-size: 20px;
    }
  
  .vehicle:hover{
      background-color: rgb(255, 255, 255);  
      color: darkslategrey;
    }