.App {
  text-align: center;
  height: 100vh;
  background-image: url(https://wallpapercave.com/wp/wp2902991.jpg);
}

.App-header {
  background-color: #282c34;
  min-height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(238, 219, 0);
}




